In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Gaussian Beam Intensity

$$ \large I(\rho , z) = I_0 \ (\frac{\omega_{0}}{\omega(z)}) ^2 \; \exp {(\frac{-2\rho^2}{\omega^{2}(z)})} $$ 

$$ \omega(z) = \omega_0 \ \large [1 + (\frac{z}{z_R})^2]^{\frac{1}{2}}  $$

$$ \large z_R = \frac{\pi \ \omega_0^2}{\lambda} $$

$$ \large \theta = \frac{\lambda}{\pi \ \omega_0} \ \ \ \ \ \ \ \ \ \ \ for \ z >> z_R$$

In [13]:
wavelength = 714.285 * 1e-6

In [14]:
names=['Phi', 'theta', 'V']
df = pd.read_csv('data1.csv',delimiter=';', header=None,index_col=False, names=names)
df ['mV']= df['V'].multiply(1000)                                        # convert to mV for simplicity

In [15]:
marg_mV = df['mV'].max() * (1/np.exp(2))                         # the marginal value of Voltage is defined as V_max/e²
print(marg_mV)
df[abs(df['mV']-marg_mV )< 0.1]                                  # finding the corresponding values of theta

9.933609789567374

        Phi  theta       V    mV
1262  120.0    2.4  0.0099   9.9
2995  290.0    2.6  0.0100  10.0
3250  315.0    2.6  0.0099   9.9

In [16]:
theta_v = 2.5    # degree with respect to the voltage

In [17]:
# for V²
df['sq_mV'] = df['mV']**2
df.head()

   Phi  theta       V   mV  sq_mV
0  0.0   10.0  0.0002  0.2   0.04
1  0.0    9.8  0.0002  0.2   0.04
2  0.0    9.6  0.0003  0.3   0.09
3  0.0    9.4  0.0003  0.3   0.09
4  0.0    9.2  0.0004  0.4   0.16

In [19]:
marg_sq_mV = df['sq_mV'].max() * (1/np.exp(2))                   # the marginal value of sq_Voltage is defined as sq-V_max/e²
print(marg_sq_mV)
df[abs(df['sq_mV']-marg_sq_V )< 100][['theta', 'sq_mV']].head()                                # finding the corresponding values of theta

729.1269585542452

In [8]:
# measured values
wavelength = 714.285 * 1e-6              # wavelength
theta_v = 2.5                            # degree beam radius with respect to Voltage
theta_sq_V = 1.8                        #degree  beam redius with respect to squared Voltage